.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: var(--color-bg);
  border-radius: 10px;
  padding: 32px 24px;
  width: 280px;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 18px;
  color: #407bff;
  cursor: pointer;
  stroke-width: 1.5px;
  stroke: var(--primery-color-blue);
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  margin-bottom: 24px;
  color: var(--color-text);
  font-family: var(--font-family);
}

.text {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 24px;
  color: var(--color-text);
}

.buttonWrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.logoutButton,
.cancelButton {
  padding: 8px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  width: 100%;
}

.logoutButton {
  background-color: #ef5050;
  color: white;
}

.cancelButton {
  background-color: #d7e3ff;
  color: #407bff;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 592px;
    padding: 32px;
  }

  .buttonWrapper {
    flex-direction: row;
    justify-content: end;
  }

  .logoutButton,
  .cancelButton {
    width: 160px;
  }
}

@media screen and (min-width: 1440px) {
  .buttonWrapper {
    justify-content: start;
  }
}
.title {
  display: flex;
}
.text {
  display: flex;
}
