.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.input {
  border: 1px solid #9ebbff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 384px;
  height: 44px;
}

.label input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #9ebbff;
  letter-spacing: -0.01em;
}

.error {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #ef5050;
}
