.container {
    box-sizing: content-box;
    border: 1px solid #ECF2FF;
    border-radius: 10px;
    padding: 8px 20px;
    max-width: 124px;
    /* height: 76px; */
    box-shadow: var(--shadow-secondary);
    background-color: var(--color-bg);
    /* margin-top: 112px;
    margin-left: 112px; */
    /* z-index: 10; */
    position: absolute;
    top: 24px;
    left: 20px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    /* margin: 8px 20px 12px 20px; */
}

.containerForNumbers {
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 12px;
}

.number {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #407BFF;
}

.button {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #8baeff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* @media screen and (min-resolution: 192dpi) {
    
} */

@media (min-width: 768px) {
    .container {
        top: 40px;
        left: 32px;
    }
}

/* @media screen and (min-resolution: 192dpi) and (min-width: 768px) {

} */

@media (min-width: 1440px) {
    .container {
        top: 52px;
        left: 112px;
    }
}
/* 
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    
} */