.container {
    position: absolute;
    top: 386px;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    border-radius: 10px;
    width: 280px;
    height: 36px;
    cursor: pointer;
    margin-top: 16px;
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    background-color: #407BFF;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: white;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #407BFF;
    margin-bottom: 8px;
}

.progressBarContainer {
    width: 280px;
    height: 82px;
}

@media (min-width: 768px) {
    .container {
        top: 506px;
        margin-left: 32px;
        margin-right: 32px;
        display: flex;
        gap: 12px;
    }

    .progressBarContainer {
        width: 356px;
        height: 90px;
    }

    .title {
        margin-bottom: 16px;
    }

    .button {
        width: 336px;
        height: 44px;
    }
}

@media (min-width: 1440px) {
    .container {
        top: 654px;
        margin-left: 112px;
        margin-right: 32px;
        gap: 23px;
    }
    
    .progressBarContainer {
        width: 391px;
        height: 90px;
    }
    
    .button {
        margin-top: 25px;
        width: 178px;
        height: 44px;
    }
}