.linkButton {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #9ebbff;
  background: transparent !important; /* Запобігаємо заливці фону */
  box-shadow: none;
}

.linkButton:hover {
  color: var(--color-primary);
}
