.backdrop {
  position: fixed;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  inset: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-bg);
  border-radius: 10px;
  width: 280px;
  max-height: 90vh;
  padding: 32px 12px;
  overflow: auto;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.mainTtl {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
}

.closeBtn {
  outline: none;
  border: none;
  background-color: inherit;
  color: var(--color-text);
}

.closeIcon svg:hover {
  color: var(--color-primary);
}

.photoTtl {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
}

.photoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.uploadLink {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  gap: 8px;
}

.uploadLink:hover {
  color: var(--color-primary);
}

.uploadIcon svg:hover {
  stroke: var(--color-primary);
}

.uploadText {
  font-weight: 500;
  line-height: 129%;
}

.userDetailsWrapper > label {
  font-weight: 500;
  line-height: 1.11;
  margin-top: 24px;
}

.saveBtn {
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  height: 36px;
  background-color: var(--color-primary);
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  border: transparent;
}

.saveBtn:hover {
  box-shadow: var(--shadow-light-primary);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 32px 24px;
    width: 704px;
  }

  .userDetailsWrapper > label {
    width: 392px;
  }

  .saveBtn {
    padding: 10px;
    width: 160px;
  }

  .saveBtnWrpr {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    width: 1008px;
    height: 592px;
  }

  .userDetailsWrapper > label:first-of-type {
    margin-top: 52px;
  }

  .userDetailsAndPwd {
    display: flex;
    align-items: start;
    gap: 24px;
    margin-bottom: 24px;
  }
}
