.todayWaterListSectionWrapper {
  height: 258px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.todayWaterListWrapper {
  width: 100%;
}

.todayWaterListHeader {
  font-weight: 500;
  line-height: 1.25;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 16px;
}

.todayWaterListBtn {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-primary);
  border: none;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.plusIcon {
  stroke: var(--color-primary);
  color: var(--color-primary);
  fill: var(--color-primary);
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
  width: 16px;
  height: 16px;
}

.todayWaterListBtn:hover,
.plusIcon:hover {
  color: var(--color-accent-orange);
  stroke: var(--color-accent-orange);
  fill: var(--color-accent-orange);
}

.todayWaterListBtn .plusIcon:hover {
  stroke: var(--color-accent-orange);
}

.scrollableList {
  max-height: 180px;
  margin-bottom: 12px;
  padding-right: 4px;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary-3) transparent;
  overflow-x: hidden;
}

.scrollableList::-webkit-scrollbar {
  width: 4px;
}

.scrollableList::-webkit-scrollbar-thumb {
  background: var(--color-secondary-3);
  border-radius: 8px;
}

.scrollableList::-webkit-scrollbar-track {
  background: 2px solid var(--color-accent-blue);
}

.noRecords {
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-text);
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .scrollableList {
    max-height: 176px;
  }

  .plusIcon {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 1440px) {
  .plusIcon {
    width: 24px;
    height: 24px;
  }
  .todayWaterListBtn {
    height: 24px;
    width: 114px;
    font-size: 18px;
    line-height: 1.33;
  }
}
