.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px 26px;
}

/* Для планшетов (768px+) - 10 колонок */
@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px 34px;
  }
}

/* Для десктопов (1024px+) - 10 колонок */
@media screen and (min-width: 1024px) {
  .list {
    column-gap: 22px;
  }
}
