.header {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 102px;
  height: 48px;
}

.signIn {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
}

.iconMen {
  height: 28px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
  }

  .signIn {
    font-size: 18px;
    line-height: 1.33333;
  }
}
/*
@media screen and (min-width: 1440px) {
  .header {
   pt12
  }
}
 */
