@import url('css/themeVariables.css');
@import url('css/backgroundImages.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #2f2f2f;
}

body.dark {
  background-color: var(--color-bg-dark) !important;
  color: var(--color-text-dark) !important;
}

#root {
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  #root {
    max-width: 1440px;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

.signBackground {
  min-height: 100vh;
  background: url('./assets/images/desk-bottleForSignin.png') no-repeat bottom
      40px left,
    url('./assets/images/desk-backgroundElementMainPage.png') no-repeat bottom
      right 20px;
  background-size: auto;
}
