.signInUpPages {
  min-height: 100vh;
  background: var(--bg-bottle-mobile-home) no-repeat bottom 40px left,
    var(--bg-image-mobile-home) no-repeat bottom right 20px;
  background-size: auto;
  padding-top: 24px;
  padding-bottom: 296px;
  text-align: start;
}
