.mainContainer {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  background-image: var(--bg-bottle-mobile-home), var(--bg-image-mobile-home);
  /* max-width: 320px; */
  background-repeat: no-repeat, no-repeat;
  background-position: 20px 162px, 0 0;
  padding: 0 20px 40px 20px;
}

.blueContainer {
  border-radius: 10px;
  padding: 24px 8px;
  box-shadow: var(--shadow-secondary);
  background-color: var(--color-secondary-1);
  margin-top: 550px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 836px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
}

.ratioAndButtonContainer {
  position: absolute;
  top: 386px;
}

@media (min-width: 768px) {
  .mainContainer {
    background-image: var(--bg-bottle-tablet-home), var(--bg-image-tablet-home);
    background-size: 518px 386px, cover;
    background-position: center 40px, 0 0;
    max-width: 786px;
    padding: 0 32px 40px 32px;
  }

  .blueContainer {
    padding: 32px 24px;
    width: 704px;
    height: 688px;
    margin-top: 540px;
  }

  .ratioAndButtonContainer {
    top: 418px;
    display: flex;
    gap: 12px;
  }
}

@media (min-width: 1440px) {
  .blueContainer {
    padding: 32px 24px;
    width: 592px;
    height: 680px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .mainContainer {
    background-image: var(--bg-bottle-desktop-home),
      var(--bg-image-desktop-home);
    background-size: 738px 548px, contain;
    background-position: 82px 32px, 0 0;
    max-width: 1440px;
    padding: 20px 112px 40px 112px;
  }

  .ratioAndButtonContainer {
    top: 594px;
    gap: 23px;
  }
}
