.container {
  position: absolute;
  transform: translate(-8px, -200px);
  width: 280px;
  height: 188px;
  padding: 24px 13px;
  border-radius: 10px;
  box-shadow: var(--shadow-primary);
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.stats {
  display: flex;
  gap: 6px;
}

.date {
  color: var(--color-primary);
}

.statsData {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .container {
    width: 292px;
    padding-inline: 16px;
  }
}
